@import "fonts.css";
@import "keyframes.css";
@import "media-queries.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
  background-color: whitesmoke;
}
body {
  position: relative;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: -100px;
  width: 100%;
  padding: 15px;
  color: white;
  background: url("../assets/bg_header.png") no-repeat center;
  background-size: cover;
  box-shadow: 1px 1px 15px black;
  font-family: "Expletus Sans", cursive;
  font-style: italic;
  z-index: 1;
  height: 75px;
  transition: top 0.5s linear, height 0.5s linear;
}
.header_logo {
  flex-grow: 1;
  text-align: start;
  font-size: 2.2rem;
}
.header_logo:hover {
  cursor: pointer;
  user-select: none;
}
.header_btn_container {
  position: relative;
}
.header_btn_menu {
  padding: 5px;
  width: 40px;
  border-radius: 50%;
  border: solid whitesmoke 1px;
  /* transition: background-color 0.2s linear; */
}
.header_btn_menu:hover {
  background-color: grey;
  cursor: pointer;
}
.header_btn_loading {
  display: none;
  position: absolute;
  top: -7px;
  left: 0px;
  width: 40px;
  border-radius: 50%;
  /* animation: spin 3s linear; */
}

#app-bar {
  display: flex;
  flex-direction: row;
  padding: 0;
}

nav {
  position: absolute;
  top: -360px;
  font-size: 1.1rem;
  transition: top 1s linear;
  width: 100%;
}
nav [class~="item"] {
  opacity: 0;
}
nav > ul > li {
  border: solid grey 1px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav > ul > li > a {
  color: inherit;
  text-align: center;
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  transition: background-color 0.2s linear, color 0.2s linear;
  width: 100%;
}
nav > ul > li > a:hover {
  background-color: grey;
  color: black;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  width: fit-content;
  border-radius: 10px 10px 0 0;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0 50px 0;
  width: 95%;
}
figure {
  position: relative;
  /* margin: 0; */
  width: fit-content;
  background-color: grey;
  border-radius: 10px 10px 0 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.422);
  transition: box-shadow 0.3s linear;
}
figure:hover {
  box-shadow: 4px 4px 20px rgb(0, 0, 0);
}
figure > figcaption {
  color: white;
  text-decoration: none;
  border-radius: 0 0 10px 10px;
  background-color: grey;
  padding: 10px 0;
  font-size: 1rem;
}
img ~ img {
  border-radius: 10px 10px 0 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #292735;
  color: whitesmoke;
  min-height: 300px;
}
.footer_links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  padding: 15px 0;
  width: 100%;
}
.footer_links a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: unset;
  text-decoration: underline;
  color: whitesmoke;
  margin: 10px;
  padding: 15px;
  border: solid whitesmoke 1px;
  border-radius: 15px;
}
.footer_links a img {
  width: 30px;
  margin: 10px 0;
}

h2,
h3 {
  font-size: 1.7rem;
  font-family: "Expletus Sans", cursive;
}
.main-title {
  align-self: self-start;
  position: relative;
  left: -500px;
  text-align: center;
  transition: left 0.5s linear;
}
p {
  font-size: 1.1rem;
  font-family: "Rufina", serif;
}

#hero {
  position: relative;
  width: 100%;
  height: 700px;
  background: whitesmoke url("../assets/hero.gif") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.hero_text {
  position: absolute;
  top: 35%;
  background-color: rgba(0, 0, 0, 0.555);
  text-align: center;
  border-radius: 15px;
  padding: 15px;
  color: white;
  opacity: 0;
  width: 95%;
  padding: 50px;
  transition: opacity 1s linear;
}
.hero_text > h1 {
  font-size: 2rem;
}
.hero_text > p {
  font-size: 1.2rem;
}
.hero_btn {
  position: absolute;
  top: 65%;
  background-color: whitesmoke;
  border: solid grey 1px;
  transform: scale(0);
  transition: background-color 0.2s linear, color 0.2s linear,
    transform 1s linear;
}

.cert_container a {
  margin: 15px;
  border-radius: 5px;
}

.btn {
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  text-align: center;
  font-size: 1.1rem;
  user-select: none;
}
.btn:hover {
  background-color: grey;
  color: whitesmoke;
  cursor: pointer;
}

.scroll-top-btn {
  background: transparent url("../assets/chevron-up.png") no-repeat center;
  background-size: 60%;
  border-radius: 50%;
  padding: 25px 0px 45px 0px;
  position: fixed;
  right: -100px;
  bottom: 10px;
  width: 75px;
  text-align: center;
  border: solid transparent 1px;
  transition: background 0.5s linear, right 0.3s linear;
}
.scroll-top-btn:hover {
  background: transparent url("../assets/chevron-up-hover.png") no-repeat center;
  background-size: 60%;
  background-color: grey;
  cursor: pointer;
}

#intro {
  position: relative;
  right: -100vw;
  transition: right 0.5s linear;
}
#cv {
  position: relative;
  left: -100vw;
  transition: left 0.5s linear;
}
#cert {
  transform: scale(0);
  transition: transform 0.5s linear;
}
#exp {
  position: relative;
  right: -100vw;
  transition: right 0.5s linear;
}
section#vision {
  display: block;
  padding-bottom: 0;
  transform: scale(0);
  transition: transform 0.5s linear;
}
.vision_content {
  position: relative;
}

.medal,
.letter,
.cv {
  position: absolute;
  top: 45px;
}

.codeline {
  border-radius: 15px;
  width: 90%;
  margin: 25px 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.703);
}
.bg-frame {
  position: absolute;
  top: 1550px;
  background-color: whitesmoke;
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  /* height: 1500px; */
  height: 1150px;
  z-index: -1;
  animation: bg-breath 7s ease-in alternate infinite;
  -webkit-animation: bg-breath 7s ease-in alternate infinite;
  -moz-animation: bg-breath 7s ease-in alternate infinite;
  -o-animation: bg-breath 7s ease-in alternate infinite;
}
.bottom-page {
  position: relative;
  right: 0;
  bottom: 0;
  z-index: -1;
  align-self: end;
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

dialog {
  position: fixed;
  top: 20%;
  left: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: solid transparent 1px;
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
  z-index: 2;
}
dialog p {
  text-align: center;
}
dialog ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}
dialog ul li {
  margin-top: 10px;
}
dialog ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: unset;
  color: inherit;
}
dialog ul li a:focus {
  outline: none;
}
dialog ul li a img {
  width: 50px;
  margin-right: 10px;
}
.dialog_button {
  position: absolute;
  top: 0px;
  right: 3px;
  width: 35px;
}
.dialog_button:hover {
  cursor: pointer;
}
